---
http_interactions:
- request:
    method: post
    uri: https://mandrillapp.com/api/1.0/messages/send-template.json
    body:
      encoding: UTF-8
      string: '{"template_name":"confirmation","template_content":[{"name":"example
        name","content":"example content"}],"message":{"to":[{"email":"everett@mante.net","type":"to"}],"merge":true,"merge_vars":[{"rcpt":"everett@mante.net","vars":[{"name":"CONFIRM_LINK","content":"http://localhost/users/af6cde5c-7a63-4039-b873-7cf48098f7ae/confirm?confirmation_token=a43371b610756f8850480a69fe4a2364"}]}]},"async":false,"ip_pool":null,"send_at":null,"key":"MANDRILL_KEY"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"email":"everett@mante.net","status":"sent","_id":"8a7a9487d5b2463892e85e4707ccb0bf","reject_reason":null}]'
  recorded_at: Tue, 31 Mar 2015 21:36:00 GMT
recorded_with: VCR 2.9.3
