---
http_interactions:
- request:
    method: post
    uri: https://mandrillapp.com/api/1.0/messages/send-template.json
    body:
      encoding: UTF-8
      string: '{"template_name":"reset-password","template_content":[{"name":"example
        name","content":"example content"}],"message":{"to":[{"email":"destany@simonis.com","type":"to"}],"merge":true,"merge_vars":[{"rcpt":"destany@simonis.com","vars":[{"name":"PASSWORD_RESET_LINK","content":"http://localhost/users/password/edit.14f2491c-8d99-4501-a056-0e9335d6d907"}]}]},"async":false,"ip_pool":null,"send_at":null,"key":"MANDRILL_KEY"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"email":"destany@simonis.com","status":"sent","_id":"87551be268724ac9861e47f22a0af656","reject_reason":null}]'
  recorded_at: Fri, 03 Apr 2015 15:40:51 GMT
recorded_with: VCR 2.9.3
