PASSWORD_RESET_URL="https://barback.monsieur.co/users/reset"
CONFIRMATION_URL="https://barback.monsieur.co/users/confirm"
REDIS_URL="redis://localhost:6378"
ROLLBAR_ACCESS_TOKEN=
SEGMENT_KEY=
FACEBOOK_ID=
FACEBOOK_SECRET=
MANDRILL_KEY=
SIDEKIQ_PASSWORD=
JWT_SECRET=
SECRET_KEY_BASE=
AWS_PROFILE=monsieur
