---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=valid
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - '2015-01-16T02:31:24+0000'
      Etag:
      - '"e8a80c621e1659f642f0dd77255e5d73c5a9916d"'
      Facebook-Api-Version:
      - v2.2
    body:
      encoding: UTF-8
      string: '{"id":"123","email":"test@example.com","first_name":"Kurt","gender":"male","last_name":"Nelson","link":"https:\/\/www.facebook.com\/app_scoped_user_id\/123\/","locale":"en_US","name":"Kurt
        Nelson","timezone":-5,"updated_time":"2015-01-16T02:31:24+0000","verified":true}'
  recorded_at: Fri, 23 Jan 2015 20:47:19 GMT
recorded_with: VCR 2.9.3
